.react-timeline-slider__background {
  fill: rgba(200, 200, 200, 0.4);
  stroke: rgba(220, 220, 220, 0.2);
}
.react-timeline-slider__tick-point {
  fill: #303030;
  r: 2;
}
.react-timeline-slider__tick-text {
  font-size: 10px;
  font-family: sans-serif;
}
.react-timeline-slider__handler {
  stroke: #303030;
  fill: #00ff66;
  r: 5;
}
.react-timeline-slider__line-between-handlers {
  stroke: #00ff66;
  stroke-width: 4;
  font-size: 10px;
}
.react-timeline-slider__control-bg {
  fill: rgba(170, 170, 170, 0.7);
}
.react-timeline-slider__control-button {
  fill: rgb(255, 255, 255);
}
.react-timeline-slider__control-pause {
  fill: rgb(148, 57, 57);
}
.react-timeline-slider__control-play {
  fill: rgb(131, 240, 132);
}
